.mainContainer{
    border: 1px solid #E7c68e;
    border-radius: 5px;
    height: 100%;
}
.subContainer{
    padding: 20px;
}
.header{
    border-bottom: 1px solid #E7c68e;
}
.headerContent{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    padding-bottom: 13px;
}
.headerContent > p{
    border-bottom: 1px solid #E7c68e;
}
.headerContent > h5{
    font-size: 23px;
}
.ProfileData{
    padding: 50px 40px;
    /* padding-left:30px ; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-control{
    /* width: 50px !important; */
    background-color: black !important;
    color: #E7c68e !important;
    border:1px solid #E7c68e !important;
    /* margin-left: 30px; */
    width: 250px !important;
}
.btnUpdate > button{
    background-color: #E7c68e;
    color: black;
    padding: 10px 10px;
    width: 100%;
  /* float: right; */
  border: none;
}
.btnUpdate > button:focus{
    outline: none !important;
}
.form-control:focus{
    outline: none !important;
}
.btn{
    float: right !important;
}

